.fullPage {
    height: 100%;
    width: 100%;
}

#HomePageContent {
    background: url(../Images/cocktail-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    height: 90%;
    width: 100%;
}

.pt-15 {
    padding-top: 15px;
}