.menuActive {
    color: maroon !important;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#nav-menu a {
    font-size: x-large;
    margin-right: 10px; 
    color: black;
}